@import '../../styles/variables';

.list-container {
  width: 100%;

  a {
    color: $primary-color;
    background-color: #fff;
    box-shadow: $box-shadow;
    text-decoration: none;
    padding: 15px 0 15px 15px;
    border-radius: 2px;
    border-left: 2px solid $primary-color;
    display: block;
    transition: .5s;
    margin-bottom: 15px;

    &:hover {
      border-left: 25px solid $link-color;
      color: $link-color;
    }

  }
}