@import '../../styles/variables';

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 15%;

  form {
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    width: 400px;

    .form-wrapper {
      padding: 50px;
    }

    h1,
    h2 {
      font-size: 3rem;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 25px;
    }

    .login-button {
      background-color: $link-color;
      width: 100%;
      color: #fff;
      padding: 20px;
      border: none;
      transition: 0.5s;

      &:hover {
        background-color: darken($link-color, 10%);
      }
    }

    .form-input-container {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 15px;
        border: none;
        box-shadow: none;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);

        &:focus {
          outline: none;
        }
      }
    }
  }
}
